@import nib
@import "../bower_components/font-awesome/css/font-awesome.css";

.result
  margin-top 1em
  margin-bottom 1em

.result + .result
  padding-top 1em
  border-top 1px solid #eee
  

.name
  font-weight bold

.numbers, .raw-facility
  font-family monospace
  font-size smaller

.addresses
  margin-left 1em
  h2
    margin-top 1rem
    font-size 1.5rem
    font-weight bold

  .general-heading
    font-weight bold
    font-style italic
    font-size smaller

.address-lines
  white-space pre
  font-family monospace
  font-size smaller

.provenance
  font-size smaller
