[Unit]
Description=gspreadsheetsproxy

[Service]
type=simple
User=www-data
Group=www-data
Environment=NODE_ENV=production
Environment=PORT={{ gspreadsheetsproxy.port }}
ExecStart=/usr/bin/nodejs /var/local/gspreadsheets-cors-proxy/index.js

[Install]
WantedBy=multi-user.target

#start on (filesystem and net-device-up IFACE=lo)
#stop on shutdown
#
#respawn
#respawn limit 15 5
#setuid www-data
#setgid www-data
#env NODE_ENV=production
#env PORT={{ gspreadsheetsproxy.port }}
#exec /usr/bin/nodejs /var/local/gspreadsheets-cors-proxy/index.js
