celery
django-celery-beat
django-celery-results
django-localflavor
django>=1.8.14,<1.9
fuzzywuzzy
jsonfield
lxml
probablepeople
psycopg2
pytest
pytest-django
pytest-xdist
python-levenshtein
pytz
redis
requests
requests-cache
usaddress
